{% extends "main_layout.html" %}
{% block title %}about us{% endblock %}
{% block content %}
    <div class="container">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">What is Data Online Converter?</h1>
            <p class="lead">
                We at <a href="{{ config.app_url }}" class="link">dataconverter.website</a> have developed this service
                to help you
                convert <a href="{{ config.app_url }}what-is-json/" class="link">JSON</a> data format to many data
                formats like <a
                    href="{{ config.app_url }}what-is-csv/" class="link">CSV</a>, EXCEl and <a
                    href="{{ config.app_url }}what-is-xml/" class="link">XML</a>. Our smart conversion tool analyzes the
                entered JSON
                file and converts it to the required format according to the specified structure/type and options. Great
                efforts have been made to provide high-quality results to our customers. We always strive to improve
                performance and add more data conversions, including PDF and IMAGES files. We look forward to your
                suggestions and comments from your side. Please contact us we will replay as soon as possible. We are
                planning to add API services to our clients. We are also ready for any additional Python development. We
                strive to make each of our customers happy. Please feel free to <a href="{{ config.app_url }}contact/"
                                                                                   class="link">contact
                us</a> if you have any comments or questions.
            </p>
        </div>


    </div>
{% endblock %}