<div class="card mb-4 shadow-sm">
    <div class="card-header">
        <h4 class="my-0 font-weight-normal">what is json?</h4>
    </div>
    <div class="card-body">
        <p>
            JSON (Javascript Object Notation) is a machine-readable data storage format that can include
            hierarchical information. Douglas Crockford originally specified and popularised the structure
            around 2001.
        </p>
        <a href="{{ config.app_url }}what-is-json/">
            <button type="button" class="btn btn-lg btn-block btn-primary">Read More</button>
        </a></div>
</div>
