<div class="card mb-4 shadow-sm">
    <div class="card-header">
        <h4 class="my-0 font-weight-normal">what is xml?</h4>
    </div>
    <div class="card-body">
        <p>
            XML stands for extensible Markup Language. XML is a markup language much like HTML. XML was
            designed
            to store and transport data. XML was designed to be self-descriptive.


        </p>
        <a href="{{ config.app_url }}what-is-xml/">
            <button type="button" class="btn btn-lg btn-block btn-primary">Read More</button>
        </a>
    </div>
</div>